body {
    font-family: 'Darker Grotesque', sans-serif;
}
#body-outer {
    position: relative;
    width: 100%;
}
#body-inner {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 18px;
}
#body {
    font-size: 18px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: inline-block;
    padding: 5px;
}
a {
    color: black;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: underline;
}
.empty {
    width: 10px;
}
.centre {
    text-align: center;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.noborder {
    border: 0px !important;
    text-align: left !important;
    background-color: white !important;
}
#data {
    font-size: 20px;
}
#data .label {
    font-weight: bold;
}
#timesheet .header {
    background-color: white !important;
}
#timesheet td, th {
    padding: 5px;
    text-align: center;
    border-right: 1px black solid;
}
#timesheet tr:first-child {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    font-weight: bold;
}
#timesheet tr:nth-child(even) {
    background-color: #cecece;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    border-left: 1px black solid;
}
#timesheet tr:nth-child(odd) {
    background-color: #ffffff;
    border-left: 1px black solid;
    border-right: 1px black solid;
}
#button {
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 18px;
}
#payslip td.payslip {
    padding-left: 5px;
    border-bottom: 1px solid black;
    padding-right: 5px;
}
table#payslip > tr:nth-last-child(2) {
    text-align: right;
}
table#payslip > tr:last-child {
    text-align: right;
}
.dollars {
    text-align: right;
}
.title {
    font-weight: bold;
}
#footer {
    width: 100%;
    position: fixed;
    background: #fff1f0;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    bottom: 0;
    font-size: 16px;
}
#info {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
#info .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#info p {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
#info a:hover {
    color: black;
    text-decoration: none;
}
div#info ul,li {
    list-style-type: circle;
}
div#info li {
    display: list-item;
}
p#credit {
     font-size:10px;
     padding-top: 20px;
}
div#button {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 36px;
  margin-right: 50px;
}
